.menu{
  color: white;
}

.firstwordpart {
  color: red;
}

.container1 {
  border-bottom: solid red 8px;
  margin-bottom: 20px;
}

.inbox {
  width: 50%;
  float: left;
}

.image {
  width: 30%;
  float: left;
}

.container2 {

}

.text-center {

}

.icon {
  width: 50px;
  height: 50px;
  background: red;
  margin: auto;
}
